// You will find more navbar related code in /script/fullpage.js.

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");

// Color palette
$darkest: #0a1612;
$dark: #1a2930;
$medium: #29414c;
$light: #f7ce3e;
$lightest: #c5c1c0;

@mixin dynamicGradient($color, $amount, $direction: 0deg, $important: false, $image: false) {
    $newColor: $color;

    @if $amount > 0 {
        $newColor: lighten(saturate($color, $amount), $amount);
    }

    @if $amount < 0 {
        $newColor: darken(desaturate($color, $amount), $amount);
    }

    @if $image {
        @if $important {
            background-image: linear-gradient($direction, $color, $newColor) !important;
        }
        @else {
            background-image: linear-gradient($direction, $color, $newColor);
        }
    }
    @else {
        @if $important {
            background: linear-gradient($direction, $color, $newColor) !important;
        }
        @else {
            background: linear-gradient($direction, $color, $newColor);
        }
    }
}

$bgColor: lighten($medium, 2.5%);

$bgColorActive: darken($medium, 8%);

$dynamicEffect: 10%;


nav {
    position: fixed;
    width: 100%;

    // top: -30px;
    right: 0px;
    left: 0px;
    z-index: 3;
    transition: top 0.25s ease-in-out;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    list-style-type: none;
    background-color: $medium;
    margin-top: 5px;
    padding: 0;
    margin: 0;
}

li {
    display: inline;

    // text-align: center;
    width: 100%;
    margin: 0;
}

li a {
    display: block;
    padding: 0;
    margin: 0;

    // font-size: 11px;
    font-weight: 550;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;

    // letter-spacing: 0.12em;
    text-decoration: none;
    color: $lightest;
    transition: 0.1s ease-in-out;
}

.nav-Ready {
    top: 1px;
}

.nav-Active {
    color: $light !important;
}

#nav-Overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    cursor: pointer;
}

@media only screen and (max-width: 499px) {
    $mobilePadding: 16px;
    $mobileAccentBorderWidth: 12px;
    $toggleButtonSize: 50px;

    nav {
        top: -255px;
    }

    ul {
        flex-direction: column;
        background: darken($medium, 10%);
    }

    li {
        text-align: left;
    }

    li > a {
        @include dynamicGradient($bgColor, $dynamicEffect, -90deg, $image: false);

        box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.3);
        font-size: 13px;
        letter-spacing: 0.2em;
        padding: $mobilePadding;
        padding-left: $mobilePadding * 2;
        border-style: solid;
        border-width: 1px;
        border-left-width: $mobileAccentBorderWidth;

        // Border color.
        border-top-color: $bgColor;
        border-bottom-color: lighten($bgColor, 15%);
        border-right-color: $bgColor;
        border-left-color: lighten(saturate($bgColor, $dynamicEffect), $dynamicEffect);

        //lighten($bgColor, 15%);
        &:hover {
            @include dynamicGradient(lighten($bgColor, 6%), $dynamicEffect, -90deg, $image: false);

            box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.3);
            border-left-width: $mobileAccentBorderWidth;
            border-left-color: $lightest;
        }
    }

    #nav-Toggle {
        @include dynamicGradient(lighten($bgColor, 8%), $dynamicEffect, 90deg);

        box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        width: $toggleButtonSize;
        height: $toggleButtonSize;
        padding: 0;
        margin: 0;
        border-bottom-style: solid;
        border-right-style: solid;
        border-width: 1px;
        border-color: lighten($bgColor, 15%);
        border-radius: 0 0 8px 0;
        color: $lightest;
        font-size: 30px;

        &:hover {
            @include dynamicGradient(lighten($bgColor, 18%), $dynamicEffect, 90deg);
        }
    }

    .nav-Active {
        @include dynamicGradient($bgColorActive, $dynamicEffect * 1.1, -90deg, $important: true);

        box-shadow: inset 12px 0 10px -15px #000, inset -12px 0 10px -15px #000 !important;
        border-left-color: $light !important;
    }
}

@media only screen and (min-width: 500px) {
    nav {
        top: -30px;
    }

    ul {
        flex-direction: row;
    }

    li {
        text-align: center;
    }

    li a {
        @include dynamicGradient($bgColor, $dynamicEffect, 180deg);

        font-size: 11px;
        letter-spacing: 0.12em;
        border-top-style: solid;
        border-top-color: $bgColor;
        border-top-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: lighten($bgColor, 15%);
        border-bottom-width: 1px;

        &:hover {
            @include dynamicGradient(lighten($bgColor, 6%), $dynamicEffect, 180deg);

            border-top-style: solid;
            border-top-color: #dddddd;
        }
    }

    #nav-Overlay,
    #nav-Toggle {
        display: none;
    }

    .nav-Active {
        @include dynamicGradient($bgColorActive, $dynamicEffect, 180deg, $important: true);

        box-shadow: inset 12px 0 10px -15px #000, inset -12px 0 10px -15px #000 !important;
        border-top-color: $light !important;
        border-bottom-color: saturate(lighten($medium, $dynamicEffect * 0.85), $dynamicEffect * 0.85) !important;
    }
}