@import "palette";

@mixin scrimGradient($startColor: "black", $stopColor: "white", $direction: "to bottom") {
    $scrimCoordinates: (0: 1, 19: 0.738, 34: 0.541, 47: 0.382, 56.5: 0.278, 65: 0.194, 73: 0.126, 80.2: 0.075, 86.1: 0.042, 91: 0.021, 95.2: 0.008, 98.2: 0.002, 100: 0);

    $hue: hue($startColor);
    $saturation: saturation($startColor);
    $lightness: lightness($startColor);
    $stops: ();

    @each $colorStop,
    $alphaValue in $scrimCoordinates {
        $stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop / 100);
        $stops: append($stops, $stop, comma);
    }

    background: $stopColor linear-gradient(unquote($direction), $stops);
}

$text_color: $light;

.bg-theme-1 {
    display: block;
    position: relative;
    @include scrimGradient(lighten($medium, 20%), darken($medium, 20%), -45deg);
}

.bg-theme-1:after {
    content: "";
    position: absolute;
    background: url('../media/gplay.png') repeat;
    opacity: 0.16;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.bg-theme-2 {
    display: block;
    position: relative;
    background: $light;
    z-index: 0;
}

.bg-theme-2:after {
    content: "";
    position: absolute;
    background: url('../media/diamonds.png') repeat;
    opacity: 0.90;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.bg-theme-3 {
    display: block;
    position: relative;
    @include scrimGradient(lighten($medium, 10%), darken($medium, 30%), 45deg);
}

.bg-theme-3:after {
    content: "";
    position: absolute;
    background: url('../media/star.png') repeat;
    opacity: 0.50;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.bg-theme-4 {
    display: block;
    position: relative;
    @include scrimGradient(lighten($lightest, 20%), darken($lightest, 20%), 45deg);
}

.bg-theme-4:after {
    content: "";
    position: absolute;
    background: url('../media/cross.png') repeat;
    opacity: 0.9;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.bg-theme-5 {
    display: block;
    position: relative;
    background-color: $darkest;
}

.bg-theme-5:after {
    content: "";
    position: absolute;
    background: url('../media/linen2.png') repeat;
    opacity: 0.9;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}