// Color palette

// Original
$darkest: #0a1612;
$dark: #1a2930;
$medium: #29414c;
$light: #f7ce3e;
$lightest: #c5c1c0;


// Reddish
// $darkest: #2e1114;
// $dark: #501b1d;
// $medium: #64485c;
// $light: #83677b;
// $lightest: #adadad;

// Tron
// $darkest: #0b0c10;
// $dark: #1f2833;
// $medium: #45a29e;
// $light: #66fcf1;
// $lightest: #c5c6c7;