@import "palette";
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");

// Parent Styling:
%shared-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    z-index: 2;
}

%shared-title {
    padding-bottom: 15px;
    $fontsize: 1.6em;
    $letterspacing: $fontsize * 0.2;
    font-size: $fontsize;
    font-family: 'Raleway', 'Verdana';
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: $letterspacing;
    text-align: center;
    padding-top: 30px;
    z-index: 2;
}

%shared-body {
    border-top-style: solid;
    border-top-width: 7px;
    padding: 15px;
    font-size: 1.2em;
    font-family: 'Raleway', 'Verdana';
    font-weight: 600;
    z-index: 2;
}

%shared-contact-icons {
    display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
}

@media only screen and (max-width: 499px) {
    %shared-title {
        $fontsize: 1.5em;
        $letterspacing: $fontsize * 0.15;
        font-size: $fontsize;
        letter-spacing: $letterspacing;
        padding-top: 55px;
    }

    %shared-body {
        border-top-width: 5px;
        padding: 15px;
        font-size: 1em;       
        font-weight: 600;
    }
}

// Theme-2 Styling:

$fgColor: $dark;

.tb-theme-2 {
    @extend %shared-textbox;
    .title {
        @extend %shared-title;
        color: $fgColor;
    }
    .body {
        @extend %shared-body;
        color: $fgColor;
        border-color: $fgColor;
        background: $lightest; 
      }
}

// Theme-3 Styling:

$bgColor: $lightest;
$fgColor: $dark;

.tb-theme-3 {
    @extend %shared-textbox;
    .title {
        @extend %shared-title;
        color: $light;
    }
    .body {
        @extend %shared-body;
        color: $light;
        border-color: $light;
        // background: $lightest; 
      }
}

// Theme-4 Styling:

$fgColor: $medium;

.tb-theme-4 {
    @extend %shared-textbox;
    max-width: 50%;
    margin: 20px;
    .title {
        @extend %shared-title;
        color: $fgColor;
    }
    .body {
        @extend %shared-body;
        color: $fgColor;
        border-color: $fgColor;
        background: $lightest; 
    }
    h1 {
        font-size: 1.2em;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 699px) {
    .tb-theme-4 {
        max-width: 90%;
        .title {
            padding-top: 0px;
        }
    }
}

// Theme-5 Styling:

.tb-theme-5 {
    @extend %shared-textbox;
    .title {
        @extend %shared-title;
        color: $lightest;
    }
    .body {
        @extend %shared-body;
        color: $lightest;
        border-color: $lightest;
        // background: $lightest; 
      }
    .contact-icons {
        @extend %shared-contact-icons;
        a .icon{
            // @extend %shared-contact-icons;
            // flex-direction: column;
            text-align: center;
            &:link {
                color: $lightest;
                text-decoration: none;
            }
            &:hover {
                color: $light;
                text-decoration: none;
            }
            &:active {
                color: white;
                text-decoration: none;
            }
            &:visited * {
                color: darken($lightest, 10%);
                text-decoration: none;
            }
        }
    }
}