@import "./palette";
@import "./backgrounds";
@import "./textbox";

.section .fp-tableCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section .fp-tableCell .fp-scrollable .fp-scroller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signature {
    max-width: 100%;
    height: auto;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 88%;
    z-index: 2;
}

.project > * {
    z-index: 2;
    flex-basis: 50%;
}

.project > a > img {
    border-style: solid;
    border-color: $medium;
    border-width: 2 px; 
    max-width: 100%;
    height: auto;
    z-index: 2;
    &:hover {
        border-color: lighten($medium, 20%);
    }

}

@media only screen and (max-width: $projectWidth) {
    .project {
        flex-direction: column;
    }

    .project > a {
        max-width: 70%;
        text-align: center;
        padding-top: 55px;
    }

}

@import "./navbar";
@import "./resumeButton";